/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/11/2017, 16:38:18
    Author     : Francisco Barraza - Orchis
*/

.bttext{
        -fx-font-size: 18px;
}    
/* TEXT DE BOTONS I TEXT GENERAL DE LA APLICACIÓ */  
#textgeneral{
    -fx-font-size: 15px;
}

/* -------------------INICI PANELLS PRINCIPALS */
#MainAnchor, #MainPane{
    -fx-background-color: #bbbbbb;
}
/* --------------------- FI PANELLS PRINCIPALS */

/* INICI COMPORTAMENT BARRA DE MENÚS, BOTONS, I MENÚS DE INTERFÍCIE */
#MenuBarButton:active, #MenuBarButton:hover, #MenuBarButton:pressed, #MenuBarButton:focus, #MenuBarButton:showing, #MenuBarButton:inactive, MenuBarButton:armed{
    -fx-background-color: #bababa;
}

#MenuItem{
   -fx-background-color: #ededed;
   -fx-text-fill: #000000;
}

#MenuItem:active, #MenuItem:hover, #MenuItem:pressed, #MenuItem:focus, #MenuItem:showing, #MenuItem:inactive, #MenuItem:armed{
    -fx-background-color: #bababa;
    -fx-text-fill: black;
}
/* FI COMPORTAMENT BARRA DE MENÚS, BOTONS, I MENÚS DE INTERFÍCIE */

/* ALINEACIÓ TEXT BOTONS LOGIN */
#buttonLogin{
    -fx-align-content: center;
}

/* TEXT CORPORATIU 'M15'*/

/* ----------------------------------------------------------- TEXT LOGIN */

#LoginCorp{
    -fx-font-size: 33px;
    -fx-style: Bold;
    -fx-opacity: 1.0;
}

/* TEXT D'ERROR, LOGIN */
#showerr{ 
    -fx-fill:#990000;
}
    
/* ------------------------------------------------------------- FI LOGIN */

/* ------------------------------------------------------------- TEXT SPLASH */
.SplashCorp, .LoginCorp{
    -fx-font-size: 22px;
    -fx-style: Bold;
    -fx-opacity: 1.0;    
    }

.LoginCorp{
    -fx-font-size: 33px;    
}
    
/* ------------------------------------------------------------- FI SPLASH */
    
/* ------------------------------------ TEXTS MENÚ PRINCIPAL */
#MainCorp{ /* IDENTIFICADOR */
    -fx-font-size: 66px;
    -fx-style: Bold;
    -fx-opacity: 0.2;
}

/* ------------------------------- LOGO CORPORATIU 'M15', AL CENTRE */
.MainCorp{ /* CLASSE */
    -fx-font-size: 140px;
    -fx-style: Bold;
    -fx-opacity: 0.2;
}

/*------------------------- TEXT MENÚS I SUBMENÚS SUPERIORS, MAIN MENU */
.MainMM{
    -fx-font-size: 13px;
    }

/* --------------------------------------- TEXT MENÚ PRINCIPAL, TOOLBAR */
#menuBar, #TextTB, #LabelTB{
    -fx-font-size: 13px;
}

/* --------------------------------------------------------------------------------- FI MAIN MENU */

/* ----------------------------------------------- TAULA ALTA D'USUARIS */
#MainTPanel{
    -fx-background-color: #fbfbfb;
}

#MainTPanelCorp{
    -fx-font-size: 38px;
    -fx-style: Bold;
}

/* ICONES BOTONS NAVEGACIÓ ALTA D'USUARIS */
/* MIDA ICONES */
.btPrimer, .btAnterior, .btSeguent, .btFinal, #navigation-button{
    -fx-background-size: cover, auto;
    -fx-min-width: 36px;
    -fx-min-height: 36px;
    -fx-pref-width: 36px;
    -fx-pref-height: 36px;
    -fx-align-content: center;
}
    /* URL ICONES DE NAVEGACIÓ TAULA */
.btPrimer{
    -fx-background-image: url(../icons/principi.png);
    }
.btAnterior{
    -fx-background-image: url(../icons/enrere.png);
    }
.btSeguent{
    -fx-background-image: url(../icons/endavant.png);
    }
.btFinal{
    -fx-background-image: url(../icons/final.png);
}

.navigation-button-delete {
    -fx-background-image: url('../icons/navigation_button_delete.png');
}

.navigation-button-new {
    -fx-background-image: url('../icons/navigation_button_new.png');
}

.navigation-button-save {
    -fx-background-image: url('../icons/navigation_button_save.png');
}

.navigation-button-cancel {
    -fx-background-image: url('../icons/navigation_button_cancel.png');
}

.tableView TableColumn{
    -fx-alignment: CENTER;
}