/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/11/2017, 16:38:18
    Author     : m15
*/
/* FONT DE L'APLICACIÓ */
@font-face{
    -fx-font-family: Quesha;
    -fx-src: url(../fonts/quesha.ttf);
}

/*INICI PANELLS PRINCIPALS*/
#MainAnchor, #MainPane, #MainTPanel{
 -fx-background-color: #cccccc;
}
/* FI PANELLS PRINCIPALS */

/* INICI PANELLS SECUNDARIS */
#MainHBox, #MainSplit{
 -fx-background-color: #dddddd;
}


/* INICI COMPORTAMENT BARRA DE MENÚS, BOTONS, I MENÚS DE INTERFÍCIE */
#MenuBarButton:active, #MenuBarButton:hover, #MenuBarButton:pressed, #MenuBarButton:focus, #MenuBarButton:showing, #MenuBarButton:inactive, MenuBarButton:armed{
    -fx-background-color: #bababa;
    -fx-font-family: Quesha;
}

#MenuItem{
   -fx-font-family: Quesha;
   -fx-background-color: #ededed;
   -fx-text-fill: #000000;
}

#MenuItem:active, #MenuItem:hover, #MenuItem:pressed, #MenuItem:focus, #MenuItem:showing, #MenuItem:inactive, #MenuItem:armed{
    -fx-background-color: #bababa;
    -fx-text-fill: black;
}
/* FI COMPORTAMENT BARRA DE MENÚS, BOTONS, I MENÚS DE INTERFÍCIE */

/* ALINEACIÓ TEXT BOTONS LOGIN */
#buttonLogin{
    -fx-align-content: "center";
    -fx-font-family: Quesha;
}

/* TEXT CORPORATIU 'M15'*/
.corp{ 
    -fx-font-size: 40px;
    -fx-style: Bold;
    -fx-font-family: Quesha;
    -fx-opacity: 0.7;
}

/* TEXT D'ERROR, LOGIN */
#showerr{ 
    -fx-fill:#990000;
    -fx-font-family: url('resources/fonts/quesha.ttf');
}

/* MIDA DE TOTES LES ICONES */
#icon{
    -fx-width: "16px";
    -fx-height: "16px";
    -fx-fit-width: "16px";
    -fx-fit-height: "16px";
    -fx-pref-width: "16px";
    -fx-pref-height: "16px";
    -fx-min-width: "16px";
    -fx-min-height: "16px";
    -fx-max-width: "16px";
    -fx-max-height: "16px";
}