.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.header-section {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-background-color: teal;
}

.header-section Label {
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
}

#account {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.sidebar-section {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-border-width: 1;
    -fx-border-color: transparent #E8E8E8 transparent transparent;
}

.sidebar-section Label {
    -fx-font-size: 18px;
    -fx-padding: 10 15 10 15;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent #E8E8E8 transparent;
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
}

.content-section {
    -fx-padding: 10 20 10 20;
    -fx-wrap-text: true;

}

.forms-section {
    -fx-padding: 10 20 10 20;
    -fx-wrap-text: true;
    -fx-background-image: url("background.jpg");
}

#content-header {
    -fx-font-size: 18px;
    -fx-padding: 0 0 10 0;
    -fx-font-weight: 700;
}

#content {
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

#footer-section {
    -fx-alignment: center;
    -fx-padding: 10 10 10 10;
    -fx-border-width: 1;
    -fx-border-color: #E8E8E8 transparent transparent transparent;
}

.text-field:disabled {
    -fx-text-fill: #4b4bff;
    -fx-font-weight: bold;
    -fx-opacity: 0.75;
}

.text-field:editable {
    -fx-text-fill: #000000;
    -fx-background-color: #ffff00;
    -fx-opacity: 0.75;
}

#navigation-button {
    -fx-min-height: 24px;
    -fx-min-width: 24px;
    -fx-max-height: 24px;
    -fx-max-width: 24px;
    -fx-background-size: 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}

.navigation-button-delete {
    -fx-background-image: url('navigation_button_delete.png');
}

.navigation-button-new {
    -fx-background-image: url('navigation_button_new.png');
}

.navigation-button-save {
    -fx-background-image: url('navigation_button_save.png');
}

.navigation-button-cancel {
    -fx-background-image: url('navigation_button_cancel.png');
}